PORT=3000
MONGO_DATABASE_URL=
FRONTEND_URL=

# Redis env
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

#Auth0 JWT token
AUTH0_AUDIENCE=
AUTH0_ISSUER_BASE_URL=

# AWS S3
AWS_BUCKET_REGION=
AWS_ACCESS_TOKEN_KEY=
AWS_SECRET_TOKEN_KEY=
AWS_BUCKET=

#Stripe
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=